html, body {
    height: 100%;
    margin: 0;
}

header {
    height: 50px;
    background-color: lightgray;
}
.header_guziki{
    width: 120px;
    height: 46px;
    text-align: center;
    display: inline-block;
    background-color: lightpink;
    border: 2px solid palevioletred;
    position: fixed;
    top: 0;
}
.header_guziki_profil{
    width: 120px;
    height: 46px;
    text-align: center;
    display: inline-block;
    background-color: lightpink;
    border: 2px solid palevioletred;
    position: fixed;
    top: 0;
    right: 0;
}
.header_guziki:hover, .header_guziki_profil:hover{
    background-color: rgb(184, 77, 112);
    color: white;
}
#logo{
    height: 50px;
    width: 50px;
}

#lewa_sekcja {
    width: 400px;
    height: calc(100% - 50px);
    background-color: pink;
    float: left;
}


.sektor_profilu{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.profil_logo, a.link_profil{
    height: 150px;
    width: 350px;
    text-align: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.zdjecie_profil{
    height: 100px;
    width: 100px;
}

.nazwa_profil{
    text-decoration: none;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}

.link_profil{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    display:flex;
}

a{
    text-decoration: none;
    color: black;
    
}















.container {
    display: flex;
}


#srodkowa_sekcja {
    width: calc(100% - 800px);
    height: calc(100% - 50px);
    background-color: lightgreen;
    float: left;
}


.wiadomosc_input{
    width: 90%;
    height: 40px;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 16px;
    padding: 5px;
    float: bottom;
    display: flex;
}



































#prawa_sekcja {
    width: 400px;
    height: calc(100% - 50px);
    background-color: lightblue;
    float: right;
}